<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div>
    <%= form.label :start_date %>
    <p>The first day of your budget</p>
    <%= form.text_field :start_date, placeholder: "#{Date.today}", datepicker: true, "datepicker-format": "dd MM yyyy"%>
  </div>
  <br>
  <div>
    <%= form.label :end_date %>
    <p>The last day of your budget</p>
    <%= form.text_field :end_date, placeholder: "#{Date.today + 30}", datepicker: true, "datepicker-format": "dd MM yyyy"%>
  </div>
  <br>
  <div>
    <%= form.label :net_income_goal %>
    <p>The target savings amount</p>
    <%= form.text_field :net_income_goal, placeholder: "Test", datepicker: true, "datepicker-format": "dd MM yyyy"%>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
